.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(7, 81, 83, 0.25);
    border-radius: 1.5rem;
    background-color: white;
}
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(101, 171, 190);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1rem 2rem; /* Top and Bottom 1.5rem, Left and Right 2.5rem */
    background-color: #6ee0e0;
    color: white;
    border-radius: 1.5rem 0 0 1.5rem;
    font-size: 2.5rem;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #66fa81;
}

.incorrect {
    background-color: #ff7b7b;
}

/* HUD */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 4rem;
    border: 0.3rem solid #6ee0e0;
    margin-top: 1.5rem;
}

#progressBarFull {
    height: 3.4rem;
    background-color: #6ee0e0;
    width: 0%;
}

/* LOADER */
#loader {
    border: 1.6rem solid white;
    border-radius: 50%;
    border-top: 1.6rem solid #6ee0e0;
    width: 10rem;
    height: 10rem;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}